/* @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

* {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* 브랜드 디자인 폰트 변경 */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  margin: 0;
  padding: 0;
}

body {
  /* background: linear-gradient( to bottom, #181818, #2e2e2e ); */
  /* background: #181818; */
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
}
